.about-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
  margin-top: 50px;
}

.about-card{
  padding:40px 30px;
  border-radius:20px;
  transition:0.4s;
}

.about-card:hover{
  transform:translateY(-10px);
}

.about-card h3{
  font-size:1rem;
  margin-top: 10px;
  margin-bottom: 40px;
}

.quote{
  margin-top:60px;
  padding:50px;
  border-radius:25px;
  text-align:center;
}

.quote p{
  font-size:1.5rem;
  line-height:1.6;
}

.about-summary{
  margin-top:50px;
  padding:50px;
  border-radius:30px;
}

.about-summary p{
  color:#d0d4dc;
  line-height:2;
  font-size:1rem;
}

.about-summary span{
  color:#00f2fe;
  font-weight:600;
}

.summary-points{
  margin:40px 0;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.summary-item{
  padding:25px;
  border-radius:20px;
  background:rgba(255,255,255,0.04);
  line-height:1.8;
  color:#c9cfdb;
  border:1px solid rgba(255,255,255,0.06);
  transition:0.3s;
}

.summary-item:hover{
  transform:translateY(-8px);
  border-color:#00f2fe50;
}

.summary-bottom{
  margin-top:20px;
}